/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

@font-face 
{
  src: url("assets/Underground.ttf");
  fontFamily: underground;
  fontStyle: normal;
  fontWeight: normal;
  embedAsCFF: true;
  advancedAntiAliasing: true;
}

s|View
{
	backgroundColor: #292e33;
}

s|Application
{
	backgroundColor: #292e33;
}

s|BusyIndicator
{
  symbolColor: #ffea00;	
}

s|List
{
  selectionColor: #292e33;
  downColor: #292e33;
	contentBackgroundColor: #292e33;
}

s|Label
{
	color: #ffffff;
}